body {
    /*background-image: url("img/devushka_i_shtory.png");*/
    background-image: url("img/cherep_i_shtory.png");
    background-size: cover;
}
.autobox-img img {
    height: 100%;
    width: 100%;
    margin-top: -25px;
}
.autobox-logo-img img {
    height: 100%;
    width: 100%;
    margin-top: -90px;
}
.autobox-zvonok-img img {
    height: 75%;
    width: 75%;
    margin-top: 40px;
}
.second-kvests {
    margin-top: 35px;
}
.kvest-iter:hover {
    -webkit-transform: scale(1.2);
}